<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="self.mybatis.noxml.test.MybatisTestDao">

    <select id="get" resultType="self.mybatis.noxml.test.MybatisTest">
        SELECT * from mybatis_test
    </select>

</mapper>